<%- include partials/start %>
<body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/cdn/chatclient.js"></script>

    <div class="container">
        <h1 class="page-title">Chat - {Room}</h1>
        <div id="messages-display"></div>
        <div id="send-input"></div>
    </div>
</body>
<%- include partials/end %>
