<%- include partials/start %>

<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>

<script src="/cdn/js/objects.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/cdn/js/chatclient.js"></script>

<body>
    <div class="container">
        <h1 class="page-title">Chat - {Room}</h1>
        <div id="chat-display">
            <ul id="chat-item-list">
            </ul>
        </div>
        <form id="message-send-form">
            <div id="messages-display"></div>
            <div id="send-input"></div>
        </form>
    </div>
</body>
<%- include partials/end %>
