<%- include partials/start %>

<div class="container">
    <h1 class="page-title">Chat - {Room}</h1>
    <div id="messages-display"></div>
    <div id="send-input"></div>
</div>

<%- include partials/end %>
