<%- include partials/start %>

<div class="container">
    <h1 class="page-title">Home</h1>
    <div id="home-button-container">
        <a href="/rooms">
            <button>Join a chat room</button>
        </a>
        <a href="/newroom">
            <button>Make a new chat room</button>
        </a>
    </div>
</div>

<%- include partials/end %>
