<%- include partials.start %>

<div class="container">
    <h1 class="page-title"></h1>
    <form action="/">
        <input type="text" name="room-name">
        <button type="submit">Make new room</button>
    </form>
</div>

<%- include partials.end %>
