<%- include partials/start %>
<body>
        
    <div class="container">
        <h1 class="page-title">Chat Rooms</h1>
        <div id="room-list-container">
            <ul id="room-list">
                <li class="room-item"></li>
            </ul>
        </div>
    </div>

</body>

<%- include partials/end %>
