<%- include partials/start %>

<div class="container">
    <h1 class="page-title">Select a Username</h1>
    <form action="/" method="post">
        <input type="text" name="user-name-input">
        <button type="submit">Go</button>
    </form>
</div>

<%- include partials/end %>
